<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Quản lí sản phẩm</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
	integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
	integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
	crossorigin="anonymous" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap"
	rel="stylesheet">
<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
	<div th:insert="~{fragments/header :: header}"></div>
	
	<div class="container-fluid">
		<div class="panel panel-default panel-table mt-3">
			<div class="panel-heading">
				<form action="#" th:action="@{/product/search}" method="GET"
					class="row form-inline">
					<div class="col col-xs-4">
						<select class="form-control w-75 d-inline-block" name="categoryId" 
							id="listCategories">
							<option value="0">Tất cả thương hiệu</option>
							<option th:each="category : ${listCategories}" th:value="${category.id}">
								[[${category.categoryName}]]
							</option>
						</select>
					</div>
					<div class="col col-xs-6">
						<div class="form-inline">
							<input name="searchText" id="searchText"
								class="form-control mr-1 w-75" type="search"
								placeholder="Chọn tất cả thương hiệu để tìm kiếm..."
								aria-label="Search" th:value="${session.searchText}" /> <input
								class="btn btn-outline-success" type="submit" id="btnSearch"
								value="Tìm kiếm" />
						</div>
					</div>
					<div class="col col-xs-2 text-right">
						<a th:href="@{/product/showAdd}"
							class="btn btn-primary btn-sm mr-4"> <i
							class="fa-solid fa-plus"></i> Thêm mới
						</a>
					</div>
				</form>
			</div>
			<div class="panel-body">
				<div class="row mt-2">
					<div class="col-12">
						<p class="text-center text-success" th:text="${successMessage}"></p>
						<p class="text-center text-danger" th:text="${errorMessage}"></p>
					</div>
				</div>
				<table class="table table-bordered table-striped">
					<thead>
						<tr class="d-flex">
							<th class="col col-1 text-center"><i
								class="fa-solid fa-gear fa-sm"></i></th>
							<th class="col col-1">STT</th>
							<th class="col">Mã Sản phẩm</th>
							<th class="col">Tên sản phẩm</th>
							<th class="col">Thương hiệu</th>
							<th class="col">Đơn giá nhập</th>
							<th class="col">Đơn giá bán</th>
							<th class="col">Hình ảnh</th>
							<th class="col">Mô tả</th>
						</tr>
					</thead>
					<tbody>
						<tr class="d-flex" th:each="product,iter : ${listProducts}">
							<td
								class="col col-1 d-flex justify-content-center align-items-center">
								<div>
									<a th:href="@{/product/showEdit/{productId}(productId=${product.id})}"
										class="btn btn-success mr-1" data-toggle="tooltip"
										title="Chỉnh sửa"> <i class="fa-solid fa-pencil fa-xs"></i>
									</a> <a
											th:href="@{/product/delete/{productId}(productId=${product.id})}"
											class="btn btn-danger" data-toggle="tooltip" title="Xóa"
											th:data-confirm-delete="|Bạn muốn xóa sản phẩm ${product.productName}?|"
											onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false"
										>
										<i class="fa-solid fa-trash-can fa-xs"></i>
									</a>
								</div>
							</td>
							<td class="col col-1 d-flex align-items-center">[[${iter.index+1}]]</td>
							<td class="col d-flex align-items-center">[[${product.id}]]</td>
							<td class="col d-flex align-items-center">[[${product.productName}]]</td>
							<td class="col d-flex align-items-center">[[${product.category.categoryName}]]</td>
							<td class="col d-flex align-items-center">[[${#numbers.formatDecimal(product.priceIn, 0, 'COMMA', 2, 'POINT')}]]</td>
							<td class="col d-flex align-items-center">[[${#numbers.formatDecimal(product.priceSell, 0, 'COMMA', 2, 'POINT')}]]</td>
							<td class="col d-flex justify-content-center align-items-center">
								<img th:src="${product.linkImage}" height="80" alt="product image">
							</td>
							<td class="col d-flex align-items-center">[[${product.description}]]</td>
						</tr>
					</tbody>
					<tfoot>
						<tr class="d-flex">
							<th class="col col-1 text-center"><i
								class="fa-solid fa-gear fa-sm"></i></th>
							<th class="col col-1">STT</th>
							<th class="col">Mã Sản phẩm</th>
							<th class="col">Tên sản phẩm</th>
							<th class="col">Thương hiệu</th>
							<th class="col">Đơn giá nhập</th>
							<th class="col">Đơn giá bán</th>
							<th class="col">Hình ảnh</th>
							<th class="col">Mô tả</th>
						</tr>
					</tfoot>
				</table>
			</div>
			<div class="panel-footer table-bordered">
				<div class="row align-items-center">
					<div class="col col-xs-4">
						<p class="panel-title mt-3 ml-3">
							Trang <b> [[${currentPageNumber}]]</b> của [[${totalPageNumber}]]
						</p>
					</div>
					<div class="col col-xs-8">
						<!-- Hiển thị phân trang -->
						<nav aria-label="Page navigation example" class="d-flex justify-content-end mr-4 mt-3">
						    <th:block th:with="functionPrefix=${session.searchText == null ? 'show' : 'search'}">
						    <ul class="pagination">
						        <!-- Nút Đầu và Trước -->
						        <th:block th:if="${currentPageNumber > 1}">
						        	 <li class="page-item" >
							            <a class="page-link" th:href="@{${functionPrefix}(categoryId=${categoryId}, page=1)}">Đầu</a>
							        </li>
							        <li class="page-item">
							            <a class="page-link" th:href="@{${functionPrefix}(categoryId=${categoryId}, page=${currentPageNumber - 1})}">Trước</a>
							        </li>
						        </th:block>
						
						        <!-- Danh sách các trang -->
						        <li class="page-item" th:each="pageNumber : ${pageNumberList}">
						            <a class="page-link" th:href="@{${functionPrefix}(categoryId=${categoryId}, page=${pageNumber})}" th:text="${pageNumber}"></a>
						        </li>
						
						        <!-- Nút Tiếp và Cuối -->
						        <th:block th:if="${currentPageNumber < totalPageNumber}">
						        	<li class="page-item">
							            <a class="page-link" th:href="@{${functionPrefix}(categoryId=${categoryId}, page=${currentPageNumber + 1})}">Tiếp</a>
							        </li>
							    </th:block>
							    <th:block th:if="${currentPageNumber < totalPageNumber}">
							        <li class="page-item">
							            <a class="page-link" th:href="@{${functionPrefix}(categoryId=${categoryId}, page=${totalPageNumber})}">Cuối</a>
							        </li>
						        </th:block>
						    </ul>
						    </th:block>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script
		src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
		crossorigin="anonymous"></script>
	<script>
		$(function() {
			$('[data-toggle="tooltip"]').tooltip();
		});
	</script>
	<script type="text/javascript" th:inline="javascript">
		$(document).ready(function() {
			/*<![CDATA[*/
				const currentPageNumber = /*[[${currentPageNumber}]]*/ '1'
				const totalPageNumber = /*[[${totalPageNumber}]]*/ '1'
				const locationHref = /*[[@{/product/show?categoryId=}]]*/ '/product/show?categoryId='
				const categoryIdParam = /*[[${categoryId}]]*/ '0'
			/*]]>*/
			$('#listCategories').on('change',function() {
				location.href = locationHref + $(this).val();
			});
			
			$('#listCategories').val(categoryIdParam);

			if ($('#listCategories').val() == '0') {
				$('input[name="searchText"]').removeAttr("disabled");
				$("#btnSearch").removeAttr("disabled");
			} else {
				$('input[name="searchText"]').attr("disabled", true);
				$("#btnSearch").attr("disabled", true);
			}

			$('.page-item').each(function() {
				if ($(this).text() == currentPageNumber) {
					$(this).addClass('active');
				}
			});
		});
	</script>
</body>
</html>